<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.dao.UserDao">

	<select id="getCourseByUserId" resultType="String">
		SELECT course_id FROM t_cc_usercourse WHERE user_id = #{user_id};
	</select>
	
</mapper>